{% extends "base.html" %}
{% block content %}

<style>
    #orderContainer
    {
        font-family: 'Lato', sans-serif;
        width: 80%;
        padding-top: 250px;
        padding-bottom: 150px;
        margin: auto;
        text-align: center;
    }
    #orderContainer i
    {
        color: rgb(5, 187, 5);
        padding-bottom: 30px;
        font-size: 10em;
    }
    #aboutCheck p
    {
        font-weight: 100;
        letter-spacing: 1px;
    }
    #aboutCheck h1
    {
        letter-spacing: 1px;
        word-spacing: 1px;
    }

    /* ----------------------------- MEDIA QUERY --------------------------- */

    @media(max-width: 700px)
    {
        #orderContainer i
        {
            font-size: 8em;
            padding-bottom: 30px;
        }
        h1
        {
            font-size: 18px;
        }
        p
        {
            font-size: 15px;
        }
    }
</style>

<!-- OREDER PLACED -->
<div id="orderContainer">
    <div id="check"><i class="fas fa-check-circle"></i></div>
    
    <div id="aboutCheck">
        <h1> Order Placed Successfully! </h1>
        <p> We've sent you an email with the Order details. </p>
    </div>
</div>

<script>
    // Your JavaScript code here
    document.cookie = "orderId="+0 +",counter="+0;

    let httpRequest = new XMLHttpRequest(),
        jsonArray,
        method = "GET",
        jsonRequestURL = "https://5d76bf96515d1a0014085cf9.mockapi.io/order";

    httpRequest.open(method, jsonRequestURL, true);
    httpRequest.onreadystatechange = function()
    {
        if(httpRequest.readyState == 4 && httpRequest.status == 200)
        {
            // Convert JSON into JavaScript object
            jsonArray = JSON.parse(httpRequest.responseText);
            console.log(jsonArray);
            jsonArray.push(
                {
                    "id": (jsonArray.length) + 1, "amount": 200, "product": ["userOrder"]
                });

            // Send the updated JSON file to the server with a new request
            httpRequest.open("POST", jsonRequestURL, true);
            httpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            httpRequest.send(JSON.stringify(jsonArray));
        }
    };
    httpRequest.send(null);
</script>

{% endblock content %}
